/* This file is global CSS file what ever we change it will apply for globaly not indivual*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/* this is CSS variables, means if we want to change the color it will aplly all over where this code is used */
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #000a19;
  --h-color: #0a043c;
  --white-color: #ffffff;
  --test: #070101;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo{
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover{
  filter: drop-shadow(0 0 2em #645cffaa)
}

.logo.react:hover{
  filter: drop-shadow(0 0 2em #61dafbaa)
}

div h2 {
  font-size: 2em;
  line-height: 1.1;
}
div h3 {
  font-size: 1em ;
}
div img{
  min-height: 10vh;
  min-width: 10vw;
}
html{
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6{
  color: var(--heading-color);
  font-family: "Poppins", sans-serif;
  font-weight: 2rem;
}
p{
  color: var(--heading-color);
  font-family: "Poppins", sans-serif;
  font-weight: 2rem;
}
h1{
  font-size: 3.2;
}

.container{
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6 rem 2.4 rem;
}

.grid{
  display: grid;
  gap: 9.6 rem;
}
.grid-two-cols{
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--cols{
  grid-template-columns: repeat(3, 1fr);
  border: #242424;
  border-radius: 100px;
}
